@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=JetBrains+Mono:wght@400;500&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-headline: "Space Grotesk", sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;

  --color-surface: #0b1326;
  --color-surface-container-low: #131b2e;
  --color-surface-container-high: #222a3d;
  --color-surface-container-highest: #2d3449;
  --color-surface-bright: #31394d;
  --color-surface-lowest: #060e20;
  
  --color-primary: #4ae176;
  --color-on-primary: #003915;
  --color-primary-container: #001d07;
  
  --color-secondary: #ffb3ad;
  --color-on-secondary: #68000a;
  
  --color-tertiary: #ffb95f;
  --color-on-tertiary: #472a00;
  
  --color-outline-variant: #45464d;
}

@layer base {
  body {
    @apply bg-surface text-slate-300 font-sans antialiased;
  }
}
